@page "{id:int?}"
@model Cancel_Nicole_Lab2.Pages.Publishers.IndexModel
@{
 ViewData["Title"] = "Index";
}
<h1>Index</h1>
<p>
 <a asp-page="Create">Create New</a>
</p>
<table class="table">
 <thead>
 <tr>
 <th>
 @Html.DisplayNameFor(model => 
model.Publisher[0].PublisherName)
 </th>
 <th></th>
 </tr>
 </thead>
    </tbody>
</table>
@if (Model.PublisherData.Books != null)
{
    <h3>Books Edited by Selected Publisher</h3>
    <table class="table">

        @foreach (var item in Model.PublisherData.Publishers)
        {
            string selectedRow = "";
            if (item.ID == Model.PublisherID)
            {
                selectedRow = "table-success";
            }
            <tr class="@selectedRow">

                <td>
                    @{
                        foreach (var b in item.Books)
                        {

                            @b.Title @: @b.Author.FullName

                            <br />
                        }
                    }
                </td>
            </tr>
        }
    </table>
}